/**************************************************/
/* CSS by DK **************************************/
/**************************************************/

body
{
    font-family: 'Source Sans Pro', sans-serif !important;
}

h1, h2, h3, h4, h5, span, p, a
{
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #3f3f3f;
}

.title
{
    font-weight: 700 !important;
}

.byline
{
    font-weight: 300;
    font-size: 1em;
}

.text-column
{
    padding: 1em;
}

.justify
{
    text-align:justify;
}

.left-align
{
    text-align: left;
    line-height: 180%;
}

.center-align
{
    margin:0 auto; 
    width: auto;
    text-align:center;
}

.vspace
{
    padding-top: 2em;
}

.padding-bottom
{
    padding-bottom: 2em;
}

.padding-right
{
    padding-right: 0.5em;
}

.padding-left
{
    padding-left: 0.5em;
}

.fas
{
	display: inline-block;
	padding-bottom: 0.25em;
}


/**************************************************/
/* IMAGE ******************************************/
/**************************************************/

.img-professor, .img-students
{
    padding: 1em;
    max-width: 90%;
    height: auto;
    max-height: 270px;
}

.bg-darkgray
{
    background: #3f3f3f !important;
}

/**************************************************/
/* NAVIGATION *************************************/
/**************************************************/

.navbar-padding
{
    padding: 1.5em 0.5em !important;
}

.navbar a 
{
    font-family: 'Source Sans Pro', sans-serif !important;
    
}

/**************************************************/
/* LOGO *******************************************/
/**************************************************/

#logo
{
    padding: 4em 3em;
    text-transform: uppercase;
    text-align: center;
    line-height: 180%;
    background: #F6F4F3;
    color: #3f3f3f;
}

#logo h1
{
    font-weight: 900;
    font-size: 2em;
}

#logo h5
{
    font-weight: 300;
    font-size: 1em;
}

#logo span
{
    padding: 0em 0em 0em 0.5em;
}

/**************************************************/
/* MAIN *******************************************/
/**************************************************/

#main
{
    padding: 4em 3em;
    text-align: center;
}

/**************************************************/
/* UPDATES ****************************************/
/**************************************************/

#updates
{
    padding: 6em 3em 3em 3em;
    text-align: center;
    background: #F6F4F3;
}

/**************************************************/
/* FOOTER ****************************************/
/**************************************************/

#footer
{
    padding: 4em 3em;
    text-align: center;
    background: #F6F4F3;
}

.copy
{
    font-weight: 200;
}

/**************************************************/
/* HASHTAGS ***************************************/
/**************************************************/

.hashtags
{
    color: #020015
}
